* {
    padding: 0;
    margin: 0;
}

body{

    font-family: 'Roboto', sans-serif;
}

header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;

}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-size: 18px;
    color: #828283;
}

.first {
    display: flex;
    flex-direction: column;

    padding: 10px 150px;

    background-color: #1F2937;
}

.content {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    height: 600px;
}

.first-block {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}


h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 48px;

    color: #F9FAF8;
    font-weight: 900;
}

p{

    font-size: 18px;
    color: #828283;
}

.bbuton {
    background-color: #3882f6;
    color: #E5E7EB;
    height: 40px;
    width: 120px;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
    transition:  0.3s;
}

.bbuton:hover {
    color: #3882f6;
    background-color: #E5E7EB;
}


.second {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 150px;
}

h2 {
    color: #1F2937;
    font-weight: 900;
}

.cards {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.card {
    width: 200px;
}

.block {
    height: 200px;
    width: 200px;
    border: 3px solid #3882f6;
    border-radius: 30px;
}

.card p {
    margin-top: 20px;
    text-align: center;
}


.third {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 300px;
    background-color: #E5E7EB;
}

.citate {
    font-size: 36px;
    color: #484c51;
    font-style: italic;
    font-weight: 300;

}

.name {
    align-self: flex-end;
    color: #1F2937;
    font-weight: bold;
    padding-top: 20px;
}


.fourth {
 height: 400px;
 display: flex;

    align-items: center;
    justify-content: center;

}

.blue-block {
    box-sizing: border-box;
    background-color: #3882f6;
    height: 200px;
    width: 1200px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.blue-block p {
    color: #E5E7EB;
    font-size: 16px;
}

.bold-paragrath {
    color: #E5E7EB;
    font-weight: bold;
    font-size: 25px;
}

.last {
    height: 40px;
    width: 150px;
    background-color:#E5E7EB;
    border: none;
    color:  #3882f6;

    border-radius: 8px;
}

 .last:hover {
    color: #3882f6;
    background-color: #E5E7EB;
}

footer {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: #E5E7EB;
}